  
# Ignore Gradle project-specific cache directory

/mazeGenerationAndSolving/.gradle/
/webApp/.gradle/
/.gradle/

# Ignore Gradle build output directory

/mazeGenerationAndSolving/build/
/webApp/build/




